---
import MarkdownLayout from '../../layouts/MarkdownLayout.astro';
import { gameInfo } from '../../data/menu';
---

<MarkdownLayout
  title="概要"
  description="PS1/1996年のRPG『ワイルドアームズ』の概要とサイトについて。"
  game={gameInfo.wildarms.title}
  breadcrumb={[{ label: 'ワイルドアームズ', href: '/wildarms/about' }]}
>
  <p>ワイルドアームズは製作：メディアビジョン/販売：SCEの人気RPGシリーズです。現在PSで1～2、そしてPS2で3～5と、1の「公式フェイク版」である「ワイルドアームズ アルターコード：F」が発売されています。</p>
  <p>またWOWOWのノンスクランブル帯（無料放映）で「ワイルドアームズTV」という、原作の世界観をたくさん組み入れたオリジナルアニメも放映されていました。もはや前世紀の話ですが。</p>
  <p>世界観は主に西部劇＋ファンタジー世界を組み合わせたような物です。（1作ごとにその比率は変わります）良いストーリーに魅力的な登場人物、ハイレベルかつ練りこまれたダンジョンの謎解き、そしてエルゥやゴーレム等の世界観設定に彩りを添える存在。戦闘システムも1作目はわりとオーソドックスでしたが、2作目以降ではどんどんオリジナリティを加えつつ発展させた物になっており、斬新です。音楽もシリーズ通して世界観にマッチしていて、高い評価を受けています。</p>
  <p>しかもシリーズ全作とも佳作～名作扱いされていて、値段の安いベスト版などになっているので、かなり入手しやすい筈です。興味を持った方は是非お近くのゲームショップへどうぞ。</p>
  <p>なお当サイトのカバー範囲は今のところ初代onlyとなっています。というのも2以降はシステム面での不満が多く、3・Fも買いましたがクリアすらしていません。4以降は再びシステムが大規模に変わったのでプレイしようかなと思いつつも忙しくて手が出ない始末です。間違っても懐古厨じゃありません！（＞＜）</p>
  <p>そんなわけで現在は1996年12月発売の「ワイルドアームズ」をディープに研究しようじゃないかという主旨の下、WAコンテンツは運営されています。よろしくお願いします。</p>

  <hr />

  <p style="text-align:right">
    【スペシャルサンクス】<br>
    ステータス成長表転載許可：水瀬氏<br>
    ステータス成長表作成：LUNE氏<br>
    攻略データ提供＆アドバイス：氷室氏
  </p>
</MarkdownLayout>
